/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

/* Styling for the home page and layout*/

#logo{
    width: 7em;
    height: 7em;
    
}

h2{
    text-align: center;
    font-size: 5em;
}

#background{
    background-image: url('moving2.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;  
    background-size: 100%;
    padding: 100px;
}

#textone{
    font-size: 5em;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0e4570;
    text-shadow: 0 0 60px white;
}

#front{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 50%;
    color: #111;
}

#tests{
    width: 30%;
    height: 10em;
    float: left;
    background-color: whitesmoke;
    border-radius: 10%;
    margin: 30px;
}

#tests p {
    text-align: center;
    color: #0e4570;
}

h3{
    text-align: center;
}

#partners{
    display: flex;
    width: 100%;
    height: 20em;
    justify-content: space-evenly;

}


#benz{
    width: 15em;
    height: 15em;
}
#scania{
    width: 15em;
    height: 15em;
}
#bemis{
    width: 30em;
    height: 15em;
}
#westrock{
    width: 15em;
    height: 15em;
}
#access{
    width: 15em;
    height: 15em;
}

/* Style the nav */
nav {
    width: 100%;
    background-color: #346f9c;
    padding: 10px 0;
}

/* Style the ul inside nav */
nav ul {
    display: flex;
    justify-content: space-around; /* Spread the navigation items */
    align-items: center;
}

/* Style the li inside ul */
nav ul li {
    margin: 0 15px;
}

/* Style the a inside li */
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

/* Hover effects for the links */
nav ul li a:hover {
    background-color: #0e4570;
    color: #fff;
    border-radius: 5px;
}
/*css styling for the form on contact us*/
form {
    width: 50%;
    margin: 40px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    
}

/*footer*/
footer {
    text-align: center;
    padding: 3px;
    background-color: #346f9c;
    color: white;
    left: 0;
  bottom: 0;
  width: 100%;
}

